<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSCameraUsageDescription</key>
  <string>Used to scan QR codes for device pairing</string>
  <key>NSLocalNetworkUsageDescription</key>
  <string>Used to discover and sync playlists with nearby devices on your local network</string>
  <key>NSBonjourServices</key>
  <array>
    <string>_melomaniac._tcp</string>
  </array>
</dict>
</plist>
